* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        height: 100%;
        width: 100%;
    }

.head {
    display: flex;
    flex-basis: 100%;
    border: solid 2px black;
    justify-content: space-between;
    height: fit-content

}
.hleft {
    /* border: solid 2px red;  */
    width: 15%;
    margin-left: 5%;
}
.hleft img {
    width: 100%;
}

.hmid {
    /* border: solid 2px blue; */
    display: flex;
    width: 25%;
    height: fit-content;
    justify-content: space-evenly;
    margin-top: 1.5%;
}
.hmid p {
    /* border: solid 1px green; */
    display: flex;
    font-size: 18px;
}

.hright {
    /* border: solid 2px seagreen; */
    display: flex;
    height: fit-content;
    margin-right: 5%;
    width: 20%;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 1.5%;
}



.bottom {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    
}
.cart {
    font-size: 32px;
    border: solid 1px green;
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-top: 3%;
    margin-left:10%
}


.left {
    border: solid 1px green;
    margin-top: 5%;
    margin-left: -10%;
    display: flex;
    flex-direction: column;
}
.docs {
    border: solid 1px blue;
    display: flex;
}
.fa-trash-can {
    font-size: 24px;
    top: 45%;
    left: 5%; 
    color: #00dcb5;
    height: fit-content;
    display: flex;
    margin-top: 50%;
}
.googledocs {
    border: solid 1px black;
    display: flex;
    background-color: aqua;
}
.docs .fa-file-lines {
    color: #83c1fc;
}
.gdocs {
    font-size: 24px;
    /* position: absolute; */
}

.slide {
    border: solid 1px red;
    display: flex;
    margin-top: 5%;
}


.order {
    display: flex;
}