* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

/* ------------------------------------------------------ */
.head {
    display: flex;
    flex-basis: 100%;
    border: solid 2px black;
    justify-content: space-between;
    height: fit-content
}

.hleft {
    /* border: solid 2px red;  */
    width: 15%;
    margin-left: 5%;
}

.hleft img {
    width: 100%;
}

.hmid {
    /* border: solid 2px blue; */
    display: flex;
    width: 25%;
    height: fit-content;
    justify-content: space-evenly;
    margin-top: 1.5%;
}

.hmid p {
    /* border: solid 1px green; */
    display: flex;
    font-size: 18px;
}

.hright {
    /* border: solid 2px seagreen; */
    display: flex;
    height: fit-content;
    margin-right: 5%;
    width: 20%;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 1.5%;
}

/* ---------------------------------------------------- */

.bottom {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;

}

.cart {
    font-size: 32px;
    /* border: solid 1px green; */
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-top: 3%;
    margin-left: 5%
}

/* ----------------------------------------------------- */
.left {
    /* border: solid 1px green; */
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.docs {
    border: solid 1px gray;
    display: flex;
    min-height: 300px;
}

.fa-trash-can {
    /* background-color: bisque; */
    font-size: 24px;
    top: 45%;
    left: 5%;
    color: #00dcb5;
    display: flex;
    flex-basis: 20%;
    align-content: center;
}

.googledocs {
    /* border: solid 1px black; */
    border-radius: 10%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    background-color: #61a3f7;
    flex-basis: 40%;
    margin-top: 12%;
    margin-right: 5%;
}

.googledocs p {
    color: white;
    margin-top: 10%;
    margin-left: 5%;
}

.for-b {
    margin-bottom: 20%;
}

.docs .fa-file-lines {
    color: #83c1fc;
    /* border: solid 1px red; */
    font-size: 24px;
    height: fit-content;
    margin-top: 10%;
    margin-left: 5%;
    background-color: white;
    border-radius: 25%;
}

/* ----------------------------------------------------- */
.gdocs {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    margin-top: 20%;
}


.googledocsp {
    font-size: 24px;
    /* border: solid 1px blue; */
    display: flex;
    width: fit-content;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5%;
}

.dot1 {
    background-color: #00dcb5;
}

.thb {
    font-size: 16px;
    margin-top: 5%;
}

.docslvl {
    margin-left: 2%;
}

/* -------------------------------------------- */
.slide {
    border: solid 1px gray;
    display: flex;
    min-height: 300px;
    margin-top: 5%;
}



.googleslides {
    border-radius: 10%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    background-color: #ec9056;
    flex-basis: 40%;
    margin-top: 12%;
    margin-right: 5%;
}

.gslides {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    margin-top: 20%;
}

.slide .fa-file-lines {
    color: #f19962;
    /* border: solid 1px red; */
    font-size: 24px;
    height: fit-content;
    margin-top: 10%;
    margin-left: 5%;
    background-color: white;
    border-radius: 25%;
}

.googleslides p {
    color: white;
    margin-top: 5%;
    margin-left: 5%;
}

.gslidesp {
    font-size: 24px;
    /* border: solid 1px blue; */
    display: flex;
    width: fit-content;
}

.for-b2 {
    margin-bottom: 20%;
}

.sdot {
    height: 20px;
    width: 20px;
    background-color: #00dcb5;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5%;
}

.sdot4 {
    background-color: #bbb;
}

.sthb {
    font-size: 16px;
    margin-top: 5%;
}


/* --------------------------------------------------- */
.order {
    border: solid 1px gray;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    height: fit-content;
    width: 40%;
}
.info {
    font-size: 24px;
    display: flex;
}

.sub {
    display: flex;
    /* border: solid 1px black; */
    justify-content: space-between;
    font-size: 18px;
    margin-top: 5%;
    color: gray;
}

.promo {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.fa-ticket {
    color: #00dcb5;
    font-size: 32px;
    margin-top: 0.5%;
}

input {
    width: 70%;
    line-height: 40px;
    border-radius: 15px;
    border: solid 1px gray;
}

button {
    background-color: white;
    line-height: 40px;
    width: 20%;
    border-radius: 15px;
    color: #00dcb5;
    border: solid 1px #00dcb5;
}
hr {
    margin-top: 5%;
    width: 90%;
    display: flex;
    align-self: center;
}

.payment {
    display: flex;
    justify-content: space-between;
    /* border: solid 1px red; */
    font-size: 20px;
    margin-top: 2%;
}

.totalpay {
    margin-top: 1%;
}
.thbprice {
    color: #00dcb5;
    font-size: 32px;
}

.bcheckout {
    width: 100%;
    line-height: 50px;
    margin-top: 3%;
    color: black;
    background-color: #00dcb5;
}