* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    display: flex;
    flex-basis: 100%;
    border: solid 2px black;
    justify-content: space-between;
    height: 10%;

}
.hleft {
    /* border: solid 2px red;  */
    width: 15%;
    margin-left: 5%;
}
.hleft img {
    width: 100%;
}

.hmid {
    /* border: solid 2px blue; */
    display: flex;
    width: 25%;
    height: fit-content;
    justify-content: space-evenly;
}
.hmid p {
    /* border: solid 1px green; */
    display: flex;
    font-size: 18px;
}

.hright {
    /* border: solid 2px seagreen; */
    display: flex;
    height: fit-content;
    margin-right: 5%;
    width: 20%;
    justify-content: space-evenly;
    font-size: 20px;
}

